/* ------ CSS DOCUMENT
------ 1. General Styling
------ 2. Header Styling
------ 3. Nav Menu Styling (hover effects, text, layout, etc.)
------ 4. Fade-In-Image Animation Transition effect
------ 5. 
------ 6.
------ 7. 
------ 8.
------ 9. 
------ 10. Footer Styling

*/

/* ----- 1. General Styling */
html {
  background-color: white;
  font-size: 18px;
  margin: 0 auto;
}

/* ----- 2. Header Styling */
.header {
  background-color: #ffefd8;
  height: 10rem;
  align-items: center !important;
}

.header .logo {
  align-items: center !important;
  width: 400px;
  height: 400px;
}

/* ----- 3. Nav Menu Styling */

.nav-bar {
  align-items: center !important;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  float: left;
}

a {
  display: block;
  padding: 8px;
}

li a {
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
}

/* Parallax Effect Styles */

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----- 4. Fade-In-Image Animation Styling */

.fade-image {
  padding-top: 1%;
  width: 70.5rem;
  height: 30rem;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----- 10. Footer Styling */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 25px;
  font-family: "Indie Flower", cursive;
  color: black;
  text-align: center;
}
